* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #354463;
}
@font-face {
  font-family: "flood";
  src: url("./assets/fonts/Flood.otf");
}

/* home-page  */

/* Header - section */

.header-section {
  display: flex;
  flex-direction: column;
  padding: 8% 5%;
}
.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home-h1 {
  padding: 0;
  margin: 0;
  width: 35%;
  font-size: large;
}

nav ul {
  list-style: none;
}
nav ul li {
  line-height: 2rem;
}

#donate-button {
  width: 100%;
  height: 3em;
  border-radius: 2em;
  background-color: #c1f7d5;
  border: none;
  font-weight: 600;
  font-size: large;
  color: #354463;
}

/* issue-section */
.issue {
  background-image: url("./assets/home/annie-spratt-135307-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  padding: 8% 5%;
}
.issue .climate {
  font-family: "flood";
  color: white;
  padding: 0;
}
.issue-stop-climate-change {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  line-height: 1.6;
  font-size: 2.8rem;
  margin-bottom: 10vh;
}
.issue-container-para {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
}
.issue-container-link {
  color: #354463;
  font-size: small;
}

/* cards-*/
.cards {
  position: relative;
  background-color: white;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 5%;
  text-align: center;
  color: #354463;
}

.top-border-span {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #354463;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 50%;
}
.cards-link {
  color: #354463;
}
.paras {
  line-height: 1.5;
}

/* take-action-section*/
.action-section {
  background-color: #c1f7d5;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 8%;
}
.action {
  width: 50%;
}
.action p {
  line-height: 1.5;
}

/* what we do section */

.missions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #354463;
  color: white;
  text-align: center;
  padding: 8% 5%;
}
.mission-cards {
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}
.missions-heading-para {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
}
.mission-span {
  display: block;
  background-color: white;
  color: #354463;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  width: 60%;
}
.top-border-img-span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  display: block;
  width: 80%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-content {
  margin-top: 50%;
  padding: 0.5rem;
}
#planting-span {
  background-image: url("./assets/home/tree-planting.png");
}
#education-span {
  background-image: url("./assets/home/education-training.png");
}
#advocacy-span {
  background-image: url("./assets/home/advocacy.png");
}

.read-more-button {
  background-color: #c1f7d5;
  border: none;
  font-weight: 600;
  font-size: medium;
  height: 3em;
  border-radius: 2em;
  padding: 0.5rem 3.5rem;
  margin-top: 5%;
}

/* hunger issue section */
.hunger-issue-section {
  background-image: url("./assets/home/did-you-know-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 8% 5%;
}
.hunger-issue-section h2 {
  font-size: 4rem;
  font-family: "flood";
  color: white;
  margin-top: 10vh;
}
.take-action-button {
  margin-bottom: 10vh;
}
.did-you-know-cards {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  margin: 2vh 0;
}

.did-you-know-cards .text-content {
  width: 80%;
  margin-top: 2vh;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}
.logo {
  background: #c1f7d5;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* stories-section */
.stories-section {
  padding: 8% 5% 15% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-card-1 {
  position: relative;
  background-image: url("./assets/home/lady-baby.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  margin: 4vh 0;
}
.story-card-2 {
  background-color: #354463;
  text-align: center;
  color: white;
  height: 40vh;
  width: 100%;
  padding: 5% 15%;
  margin-bottom: 2vh;
}
.what-we-do-para1 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
}
.what-we-do-para2 {
  margin-top: 15%;
  font-size: 0.8rem;
}

/* event and news section*/
.hide-desktop {
  display: none;
}
.event-and-news-section {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #354463;
  text-align: center;
  color: white;
}
.eventcard-and-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-and-news-section h2 {
  font-size: 3rem;
  font-family: "flood";
  margin-top: 10vh;
}
.heading-paras {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
}
.event-and-news-cards {
  position: relative;
  background-image: url("./assets/home/tree-planting.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 40vh;
  padding: 2%;
  margin: 6vh 0;
}
.event-and-news-cards .top-border-span {
  background-color: white;
  color: #354463;
}

/* newsletter-section */
.newsletter {
  background-color: #c1f7d5;
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.newsletter-container {
  /* width: 80%; */
}
.email-box-wrapper {
  display: flex;
  /* justify-content: space-around; */
  gap: 1em;
}
.subscribe {
  background-color: #354463;
  color: #c1f7d5;
  border: none;
  height: 3em;
  border-radius: 1.5em;
  width: 40%;
}
.email {
  width: 60%;
  border: none;
  text-align: center;
  height: 3em;
  border-radius: 1.2em;
}

/* footer section */
footer {
  padding: 8% 5%;
}
.contact-us {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 9%;
}
.contact-name,
.social-media-links {
  width: 50%;
}
.follow-us {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 9%;
}
footer ul {
  padding: 0;
}
footer ul li {
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
}
footer a {
  color: #354463;
}
.footer-list-title {
  font-weight: bold;
  font-size: 1rem;
}
footer {
  position: relative;
}
.end-tag-line {
  font-family: "flood";
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  margin-left: 60%;
  color: #354463;
  text-align: center;
  font-size: 1.8rem;
}
.end-tag-line h2 {
  font-weight: 400;
}

/* tablet view */

@media all and (min-width: 480px) {
  .header-section {
    flex-flow: row nowrap;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
  }
  .home-header {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 70%; */
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.6rem 0;
    padding: 0;
  }
  #donate-button {
    width: auto;
    padding: 0.5rem 1rem;
    width: 30%;
    font-size: medium;
  }
  /* issue-section */
  .cards {
    width: 100%;
    text-align: left;
    padding: 4% 4% 9% 7%;
    justify-content: start;
    align-items: flex-start;
  }
  .issue-container-para {
    font-size: 2rem;
    line-height: 3rem;
  }
  .top-border-span {
    width: 30%;
  }
  .issue .top-border-span {
    transform: translate(-140%, -50%);
    font-size: 0.7rem;
  }

  /* what we do section */
  .missions {
    align-items: start;
    justify-content: start;
    text-align: left;
  }
  .mission-span {
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .missions-heading-para {
    font-size: 2rem;
    line-height: 1.5;
  }
  .top-border-img-span {
    transform: translate(-130%, -15%);
    left: 58%;
    display: block;
    width: 40%;
    height: 25vh;
  }
  .card-content {
    margin-top: 0;
    width: 50%;
    margin-left: 50%;
  }
  .card-content button {
    position: absolute;
    top: 50%;
    right: 55%;
    width: auto;
  }
  /* hunger issue */
  .hunger-issue-section {
    flex-flow: row nowrap;
    gap: 5%;
    background-image: url("./assets/home/did-you-know-background@3x.png");
    background-repeat: no-repeat;
    background-position: cover;
    margin-top: -2%;
  }
  .hunger-issue-section .top-border-span {
    transform: translate(-100%, -50%);
    width: 40%;
    padding: 1rem 0.5rem;
    font-size: 0.7rem;
  }
  .hunger-issue-section .take-action-button {
    padding: 0 15%;
    color: #354463;
  }
  .hunger-issue-content {
    width: 45%;
    padding-right: 8.5rem;
  }
  .hunger-issue-section h2 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
    font-weight: 300;
  }
  .did-you-know-cards {
    padding: 3% 10%;
  }
  .text-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "komet sans-serif";
  }

  /* stories-section */
  .stories-section {
    align-items: start;
    position: relative;
    padding-bottom: 55%;
  }
  .story-card-1 {
    height: 80vh;
    width: 90%;
  }
  .story-card-2 {
    width: 80%;
    height: auto;
    order: -1;
    padding: 2%;
    position: absolute;
    right: 5%;
    top: 55%;
  }
  .stories-section .read-more-button {
    position: absolute;
    right: 55%;
    top: 80%;
  }
  /* event and news section */
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  .event-and-news-section {
    text-align: left;
  }
  .eventcard-and-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 8%;
  }
  .event-and-news-cards {
    width: 50%;
    height: 40vh;
    padding-top: 0;
    margin-top: 0;
  }
  .event-and-news-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 8vh;
  }
  .event-span {
    display: block;
    background-color: white;
    color: #354463;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .heading-paras {
    font-size: 2.2rem;
    line-height: 1.3;
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
  }
  .event-and-news-content .paras {
    font-size: 1rem;
  }
  .eventcard-and-content-wrapper:nth-child(3) .event-and-news-cards {
    order: 1;
  }
  /* newsletter-section */
  .newsletter-container h2 {
    width: 80%;
  }
  .newsletter-container {
    width: 100%;
  }
  .email {
    padding: 0 8% 0 2%;
    width: 100%;
  }
  .subscribe {
    width: 25%;
  }
}

/* desktop view */

@media all and (min-width: 990px) {
  /* styling-header-section */
  .header-section {
    padding: 2% 8.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  #home-h1 {
    width: 8rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  nav ul {
    display: flex;
  }

  nav ul li {
    margin-right: 3rem;
    font-size: 0.75rem;
  }
  #donate-button {
    font-weight: 700;
    border-radius: 1.5rem;
    padding: 0.5rem 1.2rem;
    font-size: small;
    width: auto;
    font-family: "Times New Roman", Times, serif;
  }

  /* issue-section */
  .issue {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 6rem;
    padding: 5% 8.3%;
  }
  .issue-stop-climate-change {
    margin-top: 2rem;
  }
  .cards {
    width: 50%;
    text-align: left;
    padding: 4% 4% 9% 7%;
    justify-content: start;
    align-items: flex-start;
  }
  .issue-container-para {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight:900;
  }
  .issue .top-border-span {
    transform: translate(-120%, -50%);
    width: 30%;
    padding:0.7rem 0.5rem;
    font-size: 0.7rem;
  }
  .top-border-span{
    font-size: 0.8rem;
  }

  /* take-action-section*/
  .action-section {
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 4% 8.3%;
  }
  .action-section .top-border-span {
    transform: translate(-50%, -50%);
    width: 13%;
    padding: 0.7rem 0;
    font-size: 0.8rem;
  }
  .action-section h3 {
    font-weight: 880;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.45rem;
  }
  .action-section p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  /* what-we-do-section */
  .missions {
    padding: 8% 8.3%;
  }

  .mission-cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 0;
  }
  .top-border-img-span {
    transform: translate(-50%, -15%);
    left: 58%;
    display: block;
    width: 100%;
    height: 40%;
  }
  .mission-cards .cards {
    padding: 2%;
    width: 29%;
  }
  .card-content {
    margin-top: 60%;
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    padding-right: 1.3rem;
    padding-bottom: 3rem;
    width: 100%;
    margin-left: 0;
  }
  .card-content button {
    top: 85%;
    right: 50%;
  }
  .paras {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .read-more-button {
    font-weight: 600;
    height: auto;
    border-radius: 2em;
    padding: 0.5rem 1rem;
    font-size: small;
  }

  /* hunger-issue-section */
  .hunger-issue-section {
    gap: 10%;
    padding: 9% 8.3%;
    background-image: url("./assets/home/did-you-know-background@3x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .hunger-issue-section .take-action-button {
    padding: 5% 15%;
  }
  .did-you-know-cards {
    padding: 0% 10%;
    padding-bottom: 5%;
    width: 100%;
    gap: 2rem;
  }
  .text-content h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .did-you-know-cards .text-content {
    /* width: 70%; */
    margin-top: 2vh;  
  }
  .did-you-know-cards .text-content .paras {
    font-size: 0.8rem;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2vh;
  }

  /* stories-section  */
  .stories-section {
    padding: 8% 8.3% 8% 8.3%;
    align-items: start;
    position: relative;
  }
  .story-card-1 {
    height: 80vh;
    width: 52%;
    margin: 0 0 0 48%;
  }
  .story-card-1 .top-border-span{
    padding: 0.5rem;
    transform: translate(-120%, -50%);
  }
  .story-card-2 {
    width: 44%;
    height: auto;
    order: -1;
    padding: 2%;
    position: absolute;
    text-align: left;
    right: 46%;
    left: 8%;
    top: 24%;
    padding-left: 4%;
  }
  .stories-section .read-more-button {
    top: 70%;
    left: 8%;
    width: 13%;
  }

  /* event and news section */

  .event-and-news-section {
    padding: 5% 8.3%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .event-and-news-section h2 {
    width: 70%;
    font-weight: 400;
    line-height: 1.3;
  }
  .eventcard-and-content-wrapper {
    align-items: start;
  }
  .event-and-news-cards {
    height: 100vh;
  }
  .event-and-news-content {
    height: 100vh;
    display: flex;
    padding-right: 6%;
  }
  .event-span {
    padding: 0.6rem 1.4rem;
  }

  /* newsletter-section */
  .newsletter {
    padding: 4% 8.3%;
  }

  .newsletter-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .newsletter-container h2 {
    width: 100%;
  }
  .email-box-wrapper {
    width: 80%;
  }
  .email {
    padding: 0 8% 0 2%;
  }
  .subscribe {
    width: 50%;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }

  /* footer */

  footer {
    padding: 5% 8.3%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5%;
  }
  .contact-us,
  .follow-us {
    display: flex;
    width: 100%;
    gap: 10%;
  }
  .contact-name .heading-paras {
    font-size: large;
  }

  footer ul li {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
  }

  .footer-list-title {
    font-weight: bold;
    font-size: 0.7rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    width: fit-content;
    
  }

  .end-tag-line {
    margin: 0;
    margin-top: 1rem;
  }
  .end-tag-line h2 {
    margin: 0;
    font-size: 1.8rem;
    padding: 0;
    font-weight: 500;
  }
}
